<div class="container mt-3">
  <form action="/restaurants" method="POST">
    <div class="d-flex justify-content-between mb-3">
      <label>餐廳名字</label>
      <input type="text" class="puts col-5" name="name" id="name" placeholder="餐廳名字">
      <label>料理類別</label>
      <input type="text" class="puts col-5" name="category" id="category" placeholder="料理類別">
    </div>
    <div class="d-flex justify-content-between mb-3">
      <label>圖片網址</label>
      <input type="text" class="puts col-5" name="image" id="image" placeholder="圖片網址">
      <label>Google地圖網址</label>
      <input type="text" class="puts col-5" name="google_map" id="google_map" placeholder="Google地圖網址">
    </div>

    <div class="d-flex justify-content-between mb-3">
      <label>電話</label>
      <input type="text" class="puts col-3" name="phone" id="phone" placeholder="電話">
      <label>地址</label>
      <input type="text" class="puts col-4" name="location" id="location" placeholder="地址">
      <label>評價</label>
      <input type="text" class="puts col-2" name="rating" id="rating" placeholder="評價">
    </div>

    <div class="d-flex justify-content-between mb-3 ">
      <label>描述</label>
      <input type="text" class="puts col-11" name="description" id="description" placeholder="描述">
    </div>
    <div class="row mb-3">
      <button class="btn btn-primary ml-3" type="submit">新增</button>
      <span><a class="col-3" href="/">回首頁</a></span>
    </div>
  </form>
</div>